.CardLevelContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  /* background-color: white; */
}

.CardLevelContainer >button {
    border-radius: 25px;
width: 20%;

}
@media (max-width: 768px) {
    .CardLevelContainer > button,.selectedFilter>Button  {
            font-size: 0.5rem;
            width: 30%;
        
            
    }
    .pageLayout{
        font-size: smaller;
    }
  }

  .selectedFilter>Button {
    border-radius: 25px;
    width: 7rem;
    min-width: 3rem;

    
}
.selectedFilter{
    display: flex;
    justify-content: center;
    flex-direction: row;
        gap: 5px;
    padding: 0rem 0rem 2rem 0rem;
  
}
.pageLayout{
    padding: 3rem 2rem 2rem 2rem;
}

