.CardLevelContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.CardLevelContainer >button {
    border-radius: 25px;
width: 30%;

}
@media (max-width: 768px) {
    .CardLevelContainer > button,.selectedFilter>Button  {
            font-size: 0.5rem;
        
            
    }
    .pageLayout{
        font-size: smaller;
    }
  }

  .selectedFilter>Button {
    border-radius: 25px;
    width: 6rem;
    min-width: 3rem;

    
}
.selectedFilter{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    padding: 0.5rem;
    color: hwb(0 0% 100% / 0);
}
.pageLayout{
    padding: 0rem 2rem 2rem 2rem;
}

