.chatContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  height: 400px;
  overflow-y: auto;
  width: 90%;
  margin: 20px auto 0 auto;
}

.singleMessageContainer {
  display: inline-block;
  max-width: 70%;
  padding: 10px 14px;
  font-size: 0.95rem;
  line-height: 1.4;
  border-radius: 20px;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userMessage {
  align-self: flex-end;
  background-color: #d1e7dd;
  color: black;
  border-top-right-radius: 0;
}

.otherMessage {
  align-self: flex-start;
  background-color: #ffffff;
  color: black;
  border-top-left-radius: 0;
}

.topButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.clearChatContainer {
  margin-left: 0.5rem;
}

.clearChatContainer button {
  padding: 8px 12px;
  font-size: 0.875rem;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.clearButton {
  padding: 8px 12px;
  margin-right: 0.3rem;
  font-size: 0.875rem;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.clearIcon {
  font-size: x-large;
}

.inputChatContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.single-message-container p {
  margin: 0;
}

.sendMessageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.sendMessageInput {
  width: 50vw;
}

.tooltip {
  position: absolute;
}
.buttonAI {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: black;
  border: black 1px solid;
  padding: 4px 8px;
  font-size: 0.875rem;
}

.buttonAI:hover {
  background-color: black;
  border: black 1px solid;
  opacity: 0.75;
}

.popoverHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popoverHeader :hover {
  background-color: darkgrey;
  border: solid 1px rgb(168, 168, 168);
}

.icon {
  font-size: x-large;
}

.createFlashcardBtn {
  border-radius: 40%;
  border: solid 1.5px black;
  color: black;
}

@media (max-width: 480px) {
  .chatContainer {
    max-width: 90%;
    width: 90%;
    padding: 15px;
    gap: 15px;
  }
}
