.chatContainer {
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  margin-top: 20px;
  max-height: 500px;
  min-height: 300px;
  outline: solid black 2px;
  overflow-y: auto;
  padding: 15px;
  text-align: left;
  width: 90%;
}

.topButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.clearChatContainer {
  margin-left: 0.5rem;
}

.clearChatContainer button {
  padding: 8px 12px;
  font-size: 0.875rem;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.clearButton {
  padding: 8px 12px;
  margin-right: 0.3rem;
  font-size: 0.875rem;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.clearButton:active {
  background-color: lightgray !important;
}

.clearIcon {
  font-size: x-large;
}

.singleMessageContainer {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  color: black;
  /* outline: 1px grey solid; */
}

.inputChatContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.userMessage {
  align-self: flex-end;
  background-color: #f1f0f0;
  outline: 1px rgb(128, 128, 128) solid;
}

.otherMessage {
  align-self: flex-start;
  background-color: #f1f0f0;
  outline: 1px grey solid;
}

.single-message-container p {
  margin: 0;
}

.sendMessageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.sendMessageInput {
  width: 50vw;
}

.tooltip {
  position: absolute;
}
.buttonAI {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: black;
  border: black 1px solid;
  padding: 4px 8px;
  font-size: 0.875rem;
}

.buttonAI:hover {
  background-color: black;
  border: black 1px solid;
  opacity: 0.75;
}

.popoverHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popoverHeader :hover {
  background-color: darkgrey;
  border: solid 1px rgb(168, 168, 168);
}

.icon {
  font-size: x-large;
}
/* button:disabled {
  font-size: large;
} */

.createFlashcardBtn {
  border-radius: 40%;
  border: solid 1.5px black;
  color: black;
}

@media (max-width: 480px) {
  .chatContainer {
    max-width: 90%;
    width: 90%;
    padding: 15px;
    gap: 15px;
  }
}
