.popover-button {
  font-size: medium;
  border: solid 1px rgb(168, 168, 168);
  background-color: inherit;
  color: black;
}

.modal-backdrop.blur-backdrop {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.3);
}
